# Binaries
*.exe
*.dll
*.so
*.dylib
bin/

# Go
vendor/
*.test
coverage.out

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
.terraform.lock.hcl

# Environment
.env
*.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# Ansible
*.retry

# Secrets
*.pem
*.key
credentials/

#tmp
docs/
